name: Docs
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4

      - name: Build docs
        uses: ammaraskar/sphinx-action@master
        with:
          docs-folder: "docs/"
          pre-build-command: "pip install ."
          build-command: "sphinx-build -b html . _build"
