name: tests
on: [push, pull_request]
jobs:
  tests:
    name: ${{ matrix.os }} / ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        os: [Ubuntu, MacOS, Windows]
        python-version: [3.6, 3.7, 3.8, 3.9]
      fail-fast: true
    steps:
      - uses: actions/checkout@v2.3.4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2.2.1
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install system deps
        shell: bash
        run: |
          pip install nox
          pip install poetry
          poetry config virtualenvs.in-project true

      - name: Run tests with nox
        shell: bash
        run: nox --force-color -s tests-${{ matrix.python-version }}

      - name: Run safety check
        if: matrix.python-version == 3.9 && matrix.os == 'Ubuntu'
        shell: bash
        run: nox --force-color -s safety

      - name: Upload coverage data
        uses: actions/upload-artifact@v2.2.0
        with:
          name: coverage-data
          path: ".coverage.*"
